
<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-12">
    <mat-card>
      <mat-card-content>

        <form class="grid" [formGroup]="filterForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-6">
            <mat-label>Min hour price</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="minHourPrice"
            />
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Base on</mat-label>
            <mat-select formControlName="baseOn">
              <mat-option
                *ngFor="let base of baseOn"
                [value]="base.id">
                  {{ base.desc }}
                </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Start date</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControlName]="'startDate'"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>From time</mat-label>
            <input
              matInput
              type="time"
              required
              formControlName="fromTime"
            />
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Max hours block</mat-label>
            <input
              matInput
              type="string"
              required
              formControlName="maxHoursBlock"
            />
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Delay (Min)</mat-label>
            <input
              matInput
              type="string"
              required
              formControlName="delay"
            />
          </mat-form-field>

          <mat-form-field class="col-6">
            <mat-label>Start running at</mat-label>
            <input
              matInput
              type="time"
              required
              formControlName="startRunningAt"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Deposits:</mat-label>
            <mat-select formControlName="depositos" multiple>
              <mat-option *ngFor="let option of warehouses" [value]="option.serviceAreaId">
                {{ option.serviceAreaName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </form>
      </mat-card-content>
      <mat-card-actions>
        <button  (click)="resetForm()" mat-flat-button color="warn" >CANCEL</button>
        <span class="spacer"></span>
        <button mat-flat-button color="primary" (click)="onSubmit()">
          <mat-icon>save</mat-icon>
          START
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
    <div class="col-12 sm:col-12">
      <mat-card>
        <mat-card-content>
          <div style="overflow-x: auto;">
            <ng-container *ngIf="ofertas.length > 0; else emptyState">
              <table style="width: 100%; table-layout: fixed;">
                <thead>
                  <tr>
                    <th>schedule</th>
                    <th>block hour</th>
                    <th>block price</th>
                    <th>date</th>
                    <th>action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let oferta of ofertas" style="text-align: center;">
                    <td>{{ oferta.startTime | time }} - {{ oferta.endTime | time }}</td>
                    <td>{{ oferta.startTime | timeDifference: oferta.endTime }}</td>
                    <td>{{ oferta.rateInfo.priceAmount }} {{ oferta.rateInfo.currency }}</td>
                    <td>{{ oferta.startTime | customDate }}</td>
                    <td>
                      <span [ngStyle]="getStatusStyle(oferta)">
                        {{ getStatusText(oferta) }}
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
            <ng-template #emptyState>
              <p>There are no offers available at this time.</p>
            </ng-template>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    
  
  
  
  <!-- <div class="col-12 sm:col-12">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let oferta of ofertas">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div style="display: inline-flex;">
                <p style="margin-right: 20px;">{{ oferta.startTime | time }} - {{ oferta.endTime | time }}</p>
                <p style="margin-right: 20px;">{{ oferta.startTime | timeDifference: oferta.endTime }}</p>
                <p style="margin-right: 20px;">{{ oferta.rateInfo.priceAmount }} {{ oferta.rateInfo.currency }}</p>
                <p class="text-right">{{ oferta.startTime | customDate }}</p>
                <span *ngIf="oferta.offerId === ofertaAceptada.offer.id" style=" background-color: #28a745;
                color: #fff;
                padding: 5px 10px;
                margin-right: 10px;
                border-radius: 5px;">Aceptada</span>
                <span *ngIf="oferta.offerId !== ofertaAceptada.offer.id" class="badge badge-warining">Rejected</span>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div> -->
</div>
