<!-- <mat-card *ngIf="!loading">
  <mat-card-header class="full-width-header">
    <mat-card-title> 
      <p>{{ warehouse?.serviceAreaName }}</p>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{ offerObject.startTime | time }} - {{ offerObject.endTime | time }}</p>
      <p>{{ offerObject.startTime | timeDifference: offerObject.endTime }}</p>
      <p class="text-right">Fecha: {{ offerObject.startTime | customDate }}</p>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card> -->